# Node.js
node_modules/
dist/
.vscode/
.npmrc
.env
.vercel
.DS_Store
/config/firebaseServiceAccountKey.json

# Logs
*.log

# Python
donation-tracker-backend/venv/
donation-tracker-backend/app/
donation-tracker-backend/__pycache__/
donation-tracker-backend/database.db
# Make sure this is intentional:
# donation-tracker-backend/requirements.txt
donation-tracker-backend/run.py
